<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpaceInvaders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpaceInvaders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SpaceInvaders.Properties.Settings>
            <setting name="PlayerLive" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MissileLive" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InvaderLive" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RatioLive" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PlayerSpeed" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="InvadersSpeed" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MissileSpeed" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="InvaderIncreaseSpeed" serializeAs="String">
                <value>1.01</value>
            </setting>
            <setting name="ShootSound" serializeAs="String">
                <value>..\..\Resources\shootSound.wav</value>
            </setting>
            <setting name="InvaderKilledSound" serializeAs="String">
                <value>..\..\Resources\invaderkilled.wav</value>
            </setting>
            <setting name="ExplosionSound" serializeAs="String">
                <value>..\..\Resources\explosion.wav</value>
            </setting>
            <setting name="AmbianceSound" serializeAs="String">
                <value>..\..\Resources\ambiance.mpeg</value>
            </setting>
        </SpaceInvaders.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SpaceInvaders.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="PlayersColor" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="InvaderDownPixel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value>Normal</value>
            </setting>
        </SpaceInvaders.Properties.Settings>
    </userSettings>
</configuration>